/* Style sheet for index.html */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


@media screen and (min-width: 720px) {
  body {
    background-color: pink;
  }
}

h1, h2{
	text-decoration-line: underline;
	text-align: center;
	position: static;
}

h2 {
	color: rgb(255,0,0);
	margin: auto;
}

h3 {
	color: hsl(119, 100%, 50%);
	margin-top: 1vmin;
	margin-left: 20px;
	margin-right: 15pt;
	margin-bottom: 1vmax;
}

ol.agendaList{
	color: red;
}

a:hover{
	color: red;
}

a:active{
	color: blue;
}

body{
	background-color: #b3faff;
	margin: 2px, 2px, 2px, 2px;
}

div > p > span{
	font-size: 1.2em;
}

form label + input[type="text"]{
	background-color: DodgerBlue;
}

form label ~ input[type="date"]{
	background-color: DodgerBlue;
}

.media{
	display: grid;
	column-gap: 20px;
	row-gap: 20px;
	justify-items: start;
}

.form{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.navigation{
	position: relative;
	left: 40px;
	height: 20px;
	width: 600px;
	display: block;
	border-style: double;
	border-color: black;
	border-radius: 25pt;
	border-width: 2vh;
	margin-top: 3mm;
	margin-left: 20px;
	margin-right: 15pt;
	margin-bottom: 0.7pc;
	padding: 2px, 2px, 2px, 2px;
}

#hide{
	display: none;
}

*{
	max-width: 100vw;
	min-width: 30vh;
	font-family: "Roboto Mono"
}
