/* Style sheet for index.html */

h1, h2{
	text-decoration-line: underline;
	text-align: center;
}

h2 {
	color: rgb(255,0,0);
	margin: auto;
}

h3 {
	color: hsl(119, 100%, 50%);
	margin-top: 1vmin;
	margin-left: 20px;
	margin-right: 15pt;
	margin-bottom: 1vmax;
}

a:hover{
	color: red;
}

a:active{
	color: blue;
}

body{
	background-color: #b3faff;
	margin: 2px, 2px, 2px, 2px;
}

div > p > span{
	font-size: 1.2em;
}

.media{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.navigation{
	position: relative;
	left: 40px;
	height: 20px;
	width: 600px;
	display: block;
	border-style: double;
	border-color: black;
	border-radius: 25pt;
	border-width: 2vh;
	margin-top: 3mm;
	margin-left: 20px;
	margin-right: 15pt;
	margin-bottom: 0.7pc;
	padding: 2px, 2px, 2px, 2px;
}

#hide{
	display: none;
}

*{
	max-width: 100vw;
	min-width: 30vh;
}
