/* Style sheet for index.html */

h2 {
	color: rgb(255,0,0);
	margin: auto;
}

h3 {
	color: hsl(119, 100%, 50%);
}

body{
	background-color: #b3faff;
	margin: 2px, 2px, 2px, 2px;
}

.navigation{
	border-style: double;
	border-color: black;
	border-radius: 25pt;
	border-width: 2vh;
	margin-top: 3mm;
	margin-left: 20px;
	margin-right: 15pt;
	margin-bottom: 0.7pc;
	padding: 2px, 2px, 2px, 2px;
}

*{
	max-height: 100vh;
}
