/* Style sheet for index.html */

h2 {
	color: rgb(255,0,0);
}

h3 {
	color: hsl(119, 100%, 50%);
}

body{
	background-color: #b3faff;
}

.navigation{
	border-style: double;
	border-color: black;
	border-radius: 25pt;
	margin-top: 3mm;
	margin-left: 20px;
	margin-right: 15pt;
	margin-bottom: 0.7pc;
}

*{
	margin: auto;
}
